


.catalog-item{
    margin-right: 50px;;
    padding: 3rem;
    margin-top: 10px;;
    border-radius: 20px;;
    background: #fff;
    width: 260px;;
    border:0.5px solid #0B2349;
}
.catalog-item img{
    border-bottom: 0.2px solid lightgray;
    border-radius: 20px;
    width: 200px;
    height: 230px;

}
.catalog-item p{
font-size:15px;;

}

