
<header>
  
  <h1>Guitar Zone</h1>
 
    <nav class="navbar">
    <a href="/guitars">Гитары</a>
    <a href="№">Усилители</a>
    <a href="№">Аксессуары</a>
    <a href="contacts">Контакты</a>
    
    </nav>
    <div class="icons">
    <a routerLink="/cart">
      <div class="fas fa-shopping-cart" id="cart-btn"></div>

    </a>
   
      <a routerLink="/login" *ngIf="!authenticated">
        <div class="fas fa-user" id="menu-btn"></div>
      </a>

      <a routerLink="/login" *ngIf="authenticated">
        <div (click)="logout()" class=" fas fa-sign-out-alt" style="color:green"></div>
      </a>
      
  </div>

  
</header>