<div class="main">

<div class="info">
<h1>Guitar Zone</h1>
<p>Мы рады приветствовать вас на страницах нашего интернет-магазина. 
    Если вы здесь, значит, вы ищете только качественные товары от проверенного поставщика!</p>
    <h1>______________________________________________________________________________</h1>
    <p>Закажите гитару мечты не выходя из дома !
        Заполните контактую форму и мы с вами обязательно свяжимся!
    </p>
</div>
<div class="form">

    <app-contacts></app-contacts>
</div>
</div>
<app-guitar></app-guitar>